body {
  background-color: rgb(19, 19, 19);
  margin: 0px;
  height: 100vh;
  /* remove this later */
  color: white;
}

.header {
}

.main-title {
}

.info {
}

.info_title {
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 1px dotted white;
}

.title__footer {
}
