html {
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 19);
  margin: 0px;
  height: 100vh;
  line-height: 20px;
  /* remove this later */
  color: white;
}

.header {
}

.main-title {
}

.info {
  padding: 10px;
}

.info_title {
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 2px dashed lightgray;
  text-align: justify;
  position: relative;
  margin: 15px;
  width: 25%;
}

.card-item h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 0px;
  color: rgb(184, 53, 184);
  padding: 5px 10px;
  z-index: 2;
  width: 80%;
  background-color: rgb(19, 19, 19);
}

.info__card {
  color: rgb(184, 53, 184);
  margin-top: 30px;
}

.code-container {
  padding: 10px;
  padding-bottom: 20px;
  justify-content: center;
}

.code-snippet {
  border-radius: 5px;
  background-color: rgb(15, 10, 15);
  padding: 10px;
  /* gradient */
  background: linear-gradient(to bottom, rgb(151, 44, 151), rgb(206, 117, 206));
}

.title__footer {
}

@media screen and (max-width: 992px) {
  .card-item {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .card-item {
    width: 100%;
  }
}
